@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Quicksand:wght@300;500&family=Roboto:wght@400;700&display=swap');

/* Adding in the global settings. */
html {
  line-height: 1.2em;
}

body {
  background-color: #EEEEEE;
  font-family: 'Poppins', sans-serif;
  color: #333333;
}

.info {
  background-color: rgba(255, 105, 180, 0.8); /* Soft pink. */
  border-radius: 8px;
}

/* The font styles for my mailing list. */
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.44em;
  line-height: 1.728em;
  font-weight: 600;
  color: #FD76DA;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  color: #333333;
}

label, input {
  font-family: 'Quicksand', sans-serif;
  color: #333333;
}

input[type=submit] {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

/* Adding in form styles. */
.formDiv {
  text-align: center;
  font-size: 1em;
  line-height: 1.2em;
  padding: 1.2em;
}

label {
  display: block;
  text-align: center;
  font-size: 1.2em;
  margin: 0 1.5%;
  width: 97%;
  font-weight: 300;
  color: #5E88B2;
}

.main-text {
  padding: 3% 1.2em;
  text-align: left;
  font-size: 1em;
  line-height: 1.2em;
  color: #333333;
}

strong {
  font-weight: 900;
  color: #8b06bf;
}

/* Adding some image styles. */
.imgBNDGroup img,
.imgBNDLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border-radius: 25px;
  transition: transform 0.3s ease;
}

/* Adding in a hover effect for the images. */
.imgBNDGroup img:hover,
.imgBNDLogo img:hover {
  transform: scale(1.05);
}

/* Image size styling. */
.imgBNDGroup img {
  max-width: 80%;
  margin-top: 0.5%;
  padding-top: 0.25%;
}

.imgBNDLogo img {
  max-width: 70%;
  margin-top: 0.5%;
  padding-top: 0.50%;
}

/* Some Input Styles. */
input {
  width: 97%;
  padding: 12px 20px;
  margin: 8px 1.5%;
  border-radius: 6px;
  background-color: #D1C4E9;
  color: #333333;
  box-sizing: border-box;
}

/* Placeholder style. */
input::placeholder {
  color: #A3A3A3;
}

/* Adding in a focus state for the input fields. */
input:focus {
  outline: none;
  background-color: #D1C4E9;
  border: 2px solid #8A2BE2;
}

/* The submit button styles. */
input[type=submit] {
  background-color: #FD76DA;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 6px;
}

/* Hover effect for submit button. */
input[type=submit]:hover {
  background-color: #FF6699;
}

/* A font size change. */
.fontsize {
  font-size: 1em;
}

/* Media queries for screens that have a minimum width of 510px. */
@media screen and (min-width: 510px) {
  #container {
    text-align: center;
    margin: 1% auto;
    width: 65%;
  }

  .main {
    margin: 0.694% auto;
  }

  .info {
    margin: auto;
    border-radius: 25px;
  }

  .fontsize {
    font-size: 1.2em;
  }

  input {
    width: 100%;
  }

  #submit {
    display: block;
    margin: 0 auto;
    font-size: 0.3em;
  }

  .main-text {
    font-size: 1.2em;
    line-height: 1.44em;
    padding: 1.44em;
  }

  .formDiv {
    text-align: center;
    font-size: 1.2em;
    padding: 1.44em;
  }

  label {
    font-size: 1.44em;
  }

  h1 {
    font-size: 1.728em;
    line-height: 2.074em;
  }
}

/* Media queries for screens that have a minimum width of 768px. */
@media screen and (min-width: 768px) {
  #container {
    width: 45%;
    float: right;
    margin-right: 3%;
  }

  .info {
    width: 45%;
    float: left;
    margin-left: 3%;
  }

  #submit {
    display: block;
    margin: 0 auto;
    font-size: 0.9em;
  }
  .font-size {
    font-size: 1em;
  }
}

/* The error message style. */
.error {
  color: #FF4136;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
}