@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Quicksand:wght@300;500&family=Roboto:wght@400;700&display=swap');

/* Adding in the global settings */
html {
  line-height: 1.2em;
}

body {
  background-color: ##EEEEEE;
  font-family: 'Poppins', sans-serif;
  color: #333333;
}